body{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

/*STARTING PAGE*/
#start{
    background: url(../images/Start.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#start .container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#start h1{
    color: bisque;
    font: 900 50px 'quicksand', sans-serif;
    letter-spacing: 10px;
    text-shadow: 5px 10px 5px black;
    margin-bottom: 50px;
}
#start .button{
    border-radius: 10px;
    font-family: 'quicksand';
    color: bisque;
    font-size: 135%;
    padding: 10px 20px;
    border: solid bisque 3px;
    text-decoration: none;
    box-shadow: 5px 10px 5px black;
}

/*HOME PAGE*/
    /*header*/
.hdcontainer{
    width: 960px;
    margin: 0 auto;
}
.header{
    background: #111;
    width: 100%;
    top: 0;
    position: fixed;
}
.logo{
    float: left;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    float: left;
    margin-left: 20px;
    padding-top: 20px
        
}
.nav{
    float: right;
    font-family: quicksand;
    letter-spacing: 3px;
}

/*banner*/
#home .banner{
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#home h1{
    font-family: quicksand;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 15px;
    color: black;
    text-shadow:5px 5px 5px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

    /*Content*/
#home .container{
    color: black;
    background-color: floralwhite;
    text-align: center;
    padding: 60px 155px;
    text-align: justify;
    font-family: quicksand;
    font-size: 22px;
}
#home .profile{
    height: 260px;
    border-radius: 50%;
}
    /*Footer*/
.foot{
    color: floralwhite;
    background-color: #111;
    padding: 30px 50px;
    font-size: 15px;
    font-family: quicksand;
}
.social-icons{
    font-size: 35px;
    color: floralwhite;
    margin-top: 80px;
}