body{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}





/*STARTING PAGE*/
#start{
    background: url(../images/city.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#start .container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#start h1{
    color: floralwhite;
    font: 900 50px 'quicksand', sans-serif;
    letter-spacing: 10px;
    text-shadow: 5px 10px 5px black;
    margin-bottom: 50px;
}

#start .button{
    border-radius: 10px;
    font-family: 'quicksand';
    color: floralwhite;
    font-size: 135%;
    text-shadow: 3px 5px 2px black;
    padding: 10px 20px;
    border: solid floralwhite 3px;
    text-decoration: none;
    box-shadow: 5px 10px 9px black;
}





/*HOME PAGE*/
    /*header*/
.hdcontainer{
    width: 960px;
    margin: 0 auto;
}
.header{
    background: #111;
    width: 100%;
    top: 0;
    position: fixed;
}
.logo{
    float: left;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    float: left;
    margin-left: 20px;
    padding-top: 20px
        
}
.nav{
    float: right;
    font-family: quicksand;
    letter-spacing: 3px;
}

/*banner*/
#home .banner{
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#home h1{
    font-family: quicksand;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 15px;
    color: floralwhite;
    text-shadow:5px 5px 5px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

    /*Content*/
#home .container{
    color: black;
    background-color: floralwhite;
    text-align: center;
    padding: 60px 155px;
    text-align: justify;
    font-family: quicksand;
    font-size: 22px;
    padding-bottom: 110px;
}
#home .profile{
    height: 260px;
    border-radius: 50%;
}


#home .button{
    border-radius: 10px;
    font-family: 'quicksand';
    color: #111;
    font-size: 100%;
    padding: 10px 20px;
    border: solid #111 2px;
    float: right;
}





/*ABOUT ME*/
#about .banner{
    height: 100vh;
    width: 100%;
    background-image: url(../images/girl.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#about h1{
    font-family: comfortaa;
    font-size: 30px;
    letter-spacing: 5px;
    color: floralwhite;
    text-shadow:5px 5px 5px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#about .facts{
    color: floralwhite;
    background-color: #111;
    text-align: center;
    padding: 60px 155px;
    font-family: quicksand;
    font-size: 22px;
}

#about .banner2{
    height: 100vh;
    width: 100%;
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#about .likes{
    color: black;
    background-color: white;
    text-align: center;
    padding: 60px 155px;
    font-family: quicksand;
    font-size: 22px;
}
#about .button{
    border-radius: 10px;
    font-family: 'quicksand';
    color: #111;
    font-size: 100%;
    padding: 10px 20px;
    border: solid #111 2px;
}





/*PORTFOLIO*/
#portfolio .banner{
    height: 100vh;
    width: 100%;
    background-image: url(../images/glasses.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#portfolio h1{
    font-family: comfortaa;
    font-size: 30px;
    letter-spacing: 5px;
    color: floralwhite;
    text-shadow:5px 5px 5px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#portfolio .skills{
    color: black;
    background-color: floralwhite;
    padding: 60px 155px;
    text-align: center;
    padding-bottom: 0px;
    font-family: quicksand;
    font-size: 22px;
}
#portfolio .experience{
    color: black;
    background-color: floralwhite;
    text-align: justify;
    padding: 60px 155px;
    text-align: center;
    padding-bottom: 0px;
    font-family: quicksand;
    font-size: 22px;
}
#portfolio .education{
    color: #111;
    background-color: floralwhite;
    padding: 60px 155px;
    text-align: center;
    font-family: quicksand;
    font-size: 22px;
}
#portfolio h4{
    margin-left: 200px;
    margin-bottom: 0;
}
#portfolio p{
    margin: 0;
    font-size: 20px;
}





/*CONTACT*/
#contact .banner{
    height: 100vh;
    width: 100%;
    background-image: url(../images/phone.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#contact h1{
    font-family: comfortaa;
    font-size: 30px;
    letter-spacing: 5px;
    color: floralwhite;
    text-shadow:5px 5px 5px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#contact .container{
    color: black;
    background-color: floralwhite;
    text-align: center;
    padding: 60px 155px;
    text-align: justify;
    font-family: quicksand;
    font-size: 22px;
    padding-bottom: 110px;
}
#contact p{
    font-size: 16px;
}
form{
    float: right;
    padding-top: 35px;
}
.s-m a{
    color:  #111;
}





            /*FOOTER*/
.foot{
    color: floralwhite;
    background-color: #111;
    padding: 30px 50px;
    font-size: 15px;
    font-family: quicksand;
}
.social-icons{
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    max-width: 350px;
}

.social-icons a{
    text-decoration: none;
    font-size: 35px;
    color: #111;
    width: 30px;
    height: 30px;
    transition: 0.4s all;
    line-height: 29px;
    background: floralwhite;
    border-radius: 50%;
}