*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    background: url(../images/Start.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: bisque;
    font: 900 50px 'quicksand', sans-serif;
    letter-spacing: 10px;
    text-shadow: 5px 10px 5px black;
    margin-bottom: 50px;
}
.button{
    background-color: bisque;
    border-radius: 10px;
    padding: 9px 20px;
    color: #111;
    font: 30px 'quicksand', sans-serif;
    text-decoration: none;
}