body{
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.header{
    height: 75px;
    background: black;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
}

#banner{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    display: table;
}

h2{
    font-family: quicksand;
    font-size: 80px;
    color: black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#content{
    width: 100%;
    position: relative;
    top: 650px;
    background: #ebebeb;
    height: 500px;
    font-family: quicksand;
    font-size: 20px;
}

.logo{
    float: left;
    font-family: raleway;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
    float: left;
    margin-left: 25px;
    padding-top: 15px
}

.nav{
    float: right;
    font-family: raleway;
}
.prof_pic{
    height: 300px;
    border-radius: 50%;
}